@charset "UTF-8";
@font-face {
    font-family: "Berlin";
    src: url(../fonts/BRLNSR.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Berlin Bold";
    src: url(../fonts/BRLNSB.TTF) format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --light-green: #009a7d;
    --dark-green: #016e58;
    --blue: #172a3a;
    --cream: #f6f7eb;
}

body {
    background-color: var(--blue);
    font-family: "Berlin", sans-serif;
}

.login-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 90px;
    gap: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo {
    width: 220px;
}

.slogan {
    color: var(--cream);
    text-align: center;
    font-size: 19px;
    line-height: 22px;
}

.signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    color: var(--cream);
    background-color: var(--light-green);
    border-radius: 25px;
    margin: 0px;
    padding: 8px;
    width: 80vw;
    font-size: 19px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    color: var(--cream);
    background-color: var(--dark-green);
    border-radius: 25px;
    padding: 8px;
    width: 80vw;
    font-size: 19px;
}